body {
  background: linear-gradient(black, #434343);
  background-image: url('https://i.pinimg.com/originals/f1/0f/4e/f10f4eecbafe16d7a2b50a8e06d121f8.gif');
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

